.hero {
    height: 100vh;
    background-image: 
    /* 텍스트 가독성을 위한 어두운 오버레이 (선택 사항) */ linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
        ),
        url('/images/hero-oriental-bg.webp');

    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.7;
}

.hero-content h1 {
    font-family: var(--font-serif);
    font-size: 48px;
    font-weight: 400;
    color: white;
    max-width: 500px;
    line-height: 1.4;
}
.hero-content p {
    font-size: 17px;
    /* color: var(--color-accent); */
    color: #fff;
}
.scroll-down {
    position: absolute;
    bottom: 40px;
    color: var(--color-text-primary);
    cursor: pointer;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-7px);
    }
}
